<style>
  
  body{ 
  	font-family: sans-serif;
  	margin-top: 40px
 
  }	
  h1{ 
  	background-color: #9fb6ff ;

  }
  h2{
  	color: grey;
  	margin-left: 30px;
  	font-style: italic;
  }
  
  p{ 
   margin-left: 20px
  }

</style>  